.mint-whitelist-container {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.whitelist-form-container {
	display: flex;
	flex-direction: column;
	width: 60%;
	min-height: 10vh;
	padding: 2rem;
	align-items: center;
	border: 1px solid white;
	margin: 1rem;
}

.whitelist-text {
	width: 60%;
	font-size: 1.1rem;
	text-align: center;
}
